// Document Flow and Positioning
$float-left: "float: left;";
$float-right: "float: right"; 
$float-clear: "clear: both";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
