doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Application
  link(rel="stylesheet" href="/styles/styles.css")
body
  header
    h1 Header content here
  main
    h1 Main content here
  footer
    h1 Footer content here
  script(src="/scripts/app.js")
