@mixin size ($width, $height) {
  width: $width;
  height: $height
}

@mixin square ($dimension) {
  @include size($dimension, $dimension);
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

